<footer id="footer">
  <div class="outer">
    <div id="footer-info">
      <div class="footer-left">
        &copy; 2016 <%= config.author || config.title %>
      </div>
      <div class="footer-right">
        make by tss
      </div>
    </div>
  </div>
</footer>
